@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap&subset=cyrillic');

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas/bebas-webfont.eot');
    src: url('../fonts/bebas/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebas-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebas-webfont.woff') format('woff'),
         url('../fonts/bebas/bebas-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/lato/Lato-Regular.woff') format('woff'),
        url('../fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.bebas{
	font-family: 'bebasregular';
	font-size: 20px;
}
.opensans {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
.lato {
	font-family: 'Lato';
	font-size: 20px;
}
.lobster {
	font-family: 'Lobster', cursive;
	font-size: 20px;
}